@import 'tailwindcss' source(none);
@source '../../src/**/*.{js,ts,jsx,tsx}';
@import 'tw-animate-css';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

@theme {
  --font-rubik: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
